# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/
.python-version

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/
.pytest_cache/

# Mypy / Ruff
.mypy_cache/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# OS / Editors
.DS_Store
.idea/
.vscode/

# Local files
out/
.snapshotter_tmp/
uv.lock.backup

# Logs
*.log

# .env used for local development
env/
.env
*.env